body{
	margin: 0px;
	padding: 0px;
}

p{
	font-family: Figtree;
	margin-block: 0px;
	line-height: 1em;
}

.body{
	max-width: 600px;
	justify-items: center;
	align-items: center;
	background-color: #F7FCFF;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	overflow: hidden;
}

.hero{
	width: 570px;
	height: 261px;
	background-image: url(https://core.investvizion.com.br/wp-content/uploads/2025/12/BG-HERO.png);
	background-position: top right;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 20px;
	border-radius: 18px;
	box-shadow:
	  0 11px 25px rgba(0, 0, 0, 0.15),
	  0 45px 45px rgba(0, 0, 0, 0.13),
	  0 102px 61px rgba(0, 0, 0, 0.08),
	  0 181px 73px rgba(0, 0, 0, 0.02),
	  0 284px 79px rgba(0, 0, 0, 0.00);
	  z-index: 10;
}

.coinesq{
	position: absolute;
	top: calc(0% - 90px);
	left: calc(0% - 120px);
	z-index: 999;
}

.coindir{
	position: absolute;
	top: calc(0% - 130px);
	right: calc(0% - 120px);
	z-index: 999;
}

.esquerda{
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 10px;
}

.direita{
	display: flex;
	flex-direction: column;
	width: 50%;
}


.hl{
	display: flex;
	flex-direction: column;
	column-gap: 0px;
}

.pre{
	letter-spacing: -0.424px;
	font-size: 14.15px;
	color: #222222;
	font-weight: 400;
}

.hl-1{
	font-size: 63.66px;
	color: #FF2A2A;
	font-weight: 800;
	letter-spacing: -1.91px;
}

.hl-2{
	font-size: 43.66px;
	color: #222222;
	font-weight: 800;
	letter-spacing: -1.91px;
	line-height: 0.7em;
}

.chamadahero{
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.chamada{
	font-size: 14.15px;
	color: #222222;
	font-weight: 500;
	letter-spacing: -0.424px;
}

.bloco2{
	position: relative;
	width: 542px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.bloco2hl{
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.pague{
	font-size: 79.112px;
	color: #2AABFF;
	font-weight: 900;
	line-height: 0.6em;
	text-transform: uppercase;
	letter-spacing: -5.538px;
}

.conta{
	font-size: 46.11px;
	color: #00385D;
	font-weight: 400;
	line-height: 1em;
	text-transform: uppercase;
}

b{
	font-weight: 800 !important;
}

.bullet{
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.bullet-block{
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 176.15px;
	padding: 20px;
	border-radius: 12.195px;
	border: 0.677px solid rgba(145, 191, 219, 0.35);
	background: #F7FCFF;
	box-shadow: 0 15px 23.7px 0 rgba(0, 0, 0, 0.06), 0 6.097px 9.62px 0 #FFF inset;
}

.bullet-text{
	font-weight: 700;
	font-size: 16.26px;
	color: #00385D;
}

.cta{
	align-self: center;
	font-weight: 800;
	font-size: 24px;
	color: #00385D;
}